<header class="site_head">
  <div>
    <h1>{{link-to "Today I Learned" "posts" }}</h1>
    <h2><a href="https://hashrocket.com">A Hashrocket project</a></h2>
  </div>
</header>

<div id="flash">
  {{#each flashMessages.queue as |flash|}}
    <p>{{flash.message}}</p>
  {{/each}}
</div>

<main>
  {{outlet}}
</main>
